<div class="footer-shadow">
<div class="footer">
<a href="https://www.instagram.com/art_prise/?hl=en">
    <%=  image_tag("instagram-3.png", alt: "Art Prise, place à la culture de demain!") %>
  </a>
  <a href="mailto:contact@artprise.fr"><%=  image_tag("email.png", alt: "Art prise, Place à la culture de demain!") %></a>
    <a href="https://www.facebook.com/art.prise">
    <%=  image_tag("facebook.png", alt: "Art Prise, place à la culture de demain!") %>
  </a>
</div>
<p class="link-footer"><%= link_to 'Mentions légales', mentions_path %></p>
</div>
