<div class="menu">
  <div class="logo-qq">
    <%= link_to(image_tag("logo_court_rouge.png", alt: "Art Prise, place à la culture de demain!"), root_path) %>
  </div>


    <% if user_signed_in? %>
        <div class="lock-item">
        <%= link_to(image_tag("lock.png", alt: "Gust - all rights reserved."), destroy_user_session_path, method: :delete) %>
        </div>
      <% else %>
        <div class="lock-item">
        <%= link_to(image_tag("lock-3.png", alt: "Gust - all rights reserved."), new_user_session_path) %>
        </div>
  <% end %>

</div>
