
<body style="background-color:#FF0000;">
  <div class="container">
  <%= render "components/header" %>
  <div class="flexbox-form">

      <div class="flex-one">
        <div class="information flexbox-form-deux">

            <h1 class="title-info">Devenons Amis</h1>
             <br>
             <p class="p-info-deux">*Rejoignez notre réseau d’Amis et contribuez à la construction de la première communauté
d’artistes plasticiens professionnels de France!</p>
            <br>
            <p class="p-info">Amateurs d’art, Artiviste, professionnel de la culture, collectionneurs
              ou mécènes : Participez à la construction de la 1ère communauté d’artistes
              plasticiens professionnels de France.
              Les Amis d’Art Prise, Place à la culture de demain! forment une communauté
              active et soudée de membres passionnées et militants pour
              un monde de l’art et de la culture qui améliore l’environnement professionnel
              de ses artistes. <br>
               <br>
              En adhérant à l’association vous participez activement au développement
              et à l’enrichissement de nos projets d’aujourd’hui et de demain.
              Tout au long de l’année, votre participation sera valorisée pour que
              vous puissiez vous sentir partie intégrante de l’aventure d’Art Prise,
              Place à la culture de demain ! aux côtés d’autres passionnés et fidèles. <br>
               <br>
              Une fois par an, seront mis à l’honneur les Amis de l’association lors d’un dîner insolite en compagnie des 10 artistes élus Ambassadeur du mois et récompensés pour leur engagement et implication dans la communauté.
 <br>
              Les mécènes - entreprises et individuels - peuvent en outre profiter des dispositifs
              d’incitations fiscales en vigueur.</p>
              <%= image_tag("logo_court_blanc.png", alt: "Quelque chose de neuf")%>
          </div>
        <div class="formules padding-form">

          <h1 class="red-formule">Nos formules d’adhésion</h1>
          <br>
          <div>
              <h2 class="red">Donateurs ponctuels:</h2>
              <p>
                Versement d’un montant de votre choix, à chaque fois <br>
                que vous souhaitez contribuer au développement <br>
                d’Art Prise, Place à la culture de demain !
              </p>
          </div>
          <br>
           <div>
              <h2 class="red">Amis:</h2>
              <p class="prix"><i>15€/mois (ou 100€ l’année, réglable en une fois)</i></p>
              <h3 class="red">Vos avantages</h3>
              <p>- Carte de membre personnalisée</p>
              <p>- Accès à la Newsletter mensuelle de l’association</p>
          </div>
          <br>
           <div>
              <h2 class="red">Amis Bienfaiteurs:</h2>
              <p class="prix"><i>30€/mois. (ou 250€ l’année, réglable en une fois)</i></p>
              <h3 class="red">Vos avantages</h3>
              <p>- Carte de membre personnalisée</p>
              <p>- Accès à la Newsletter mensuelle de l’association</p>
              <p>- Rencontres mensuelles organisées avec les artistes de
              la communauté dans leurs ateliers</p>
              <p>- Participation au dîner annuel en présence
              des amis et des artistes</p>
          </div>
          <br>
        </div>
      </div>

  <div class="formulaire-div flex-second padding-form-deux">
    <div class="test-f">
      <h2 class="red">Informations personnelles:</h2>
      <br>
      <%= render template: "amis/new" %>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="test-m">
      <h2 class="red">Moyens de paiement:</h2>
      <br>
      <h3 class="red">Option 1:</h3>
      <p>Chèque rempli à l’ordre de
      Art Prise, Place à la culture de demain.<br>
      Adresse postale pour l’envoi:<br>
      22 rue marmontel, 75015 Paris, France</p>
      <br>
      <h3 class="red">Option 2: </h3>
      <p>Virement bancaire à:<br>
      Art Prise, Place  à la culture de demain!<br>
      <b>IBAN (International Bank Account Number)<br>
FR76 1027 8060 5400 0208 0050 102<br>
BIC (Bank Identifier Code): CMCIFR2A<br>
Banque: 10278 - Guichet: 06054<br>
N° compte: 00020800501 - Clé: 02
</b></p>
      <br>
      <p><i>*à réception de  votre paiement, votre adhésion sera effective <br>
        et une carte de membre vous sera envoyée.</i></p>
      <br>
<p><i>*Ce formulaire est à nous retourner complété par mail <br>
à Ilaria@artprise.fr</i></p>
    </div>
  </div>

</div>
<%= render "components/footer" %>
</div>
</body>
