
<body style="background-color:#FF0000;">
  <%= render "components/header" %>
  <div class="flexbox-form">

      <div class="flex-one">
        <div class="information">

            <h1 class="title-info">Devenons Amis</h1>
            <p class="p-info">Amateurs d’art, Artiviste, professionnel de la culture, collectionneurs
              ou mécènes : Participez à la construction de la 1ère communauté d’artistes
              plasticiens professionnels de France.
              Les Amis d’Art Prise, Place à la culture de demain! forment une communauté
              active et soudée de membres passionnées et militants pour
              un monde de l’art et de la culture qui améliore l’environnement professionnel
              de ses artistes.
              En adhérant à l’association vous participez activement au développement
              et à l’enrichissement de nos projets d’aujourd’hui et de demain.
              Tout au long de l’année, votre participation sera valorisée pour que
              vous puissiez vous sentir partie intégrante de l’aventure d’Art Prise,
              Place à la culture de demain ! aux côtés d’autres passionnés et fidèles.
              Une fois par an, il sera remis par un jury d’Amis, une distinction des
              Amis d’Art Prise, place à la culture de demain ! L’artiste lauréat de la Distinction
              sera choisi parmi les Ambassadeurs mis à l’honneur mensuellement
              par l’association pour leur engagement dans la communauté.
              Le lauréat bénéficiera ainsi d’une aide à la production d’une oeuvre destinée
              à une exposition avec un organisme partenaire d’Art Prise, place à
              la culture de demain !
              Les mécènes - entreprises et individuels - peuvent en outre profiter des dispositifs
              d’incitations fiscales en vigueur.</p>

          </div>
        <div class="formules">
          <h1 class="red-formule">Nos formules d’adhésion</h1>
          <div>
              <h2 class="red">Donateurs ponctuels:</h2>
              <p>
                Versement d’un montant de votre choix, à chaque fois
                que vous souhaitez contribuer <br> au développement
                d’Art Prise, Place à la culture de demain !
              </p>
          </div>
          <br>
           <div>
              <h2 class="red">Amis:</h2>
              <p class="prix"><i>10€/mois (ou 100€ l’année, réglable en une fois)</i></p>
              <h3 class="red">Vos avantages</h3>
              <p>- Carte de membre personnalisée</p>
              <p>- Accès à la Newsletter mensuelle de l’association</p>
          </div>
          <br>
           <div>
              <h2 class="red">Amis Bienfaiteurs:</h2>
              <p class="prix"><i>25€/mois. (ou 250€ l’année, réglable en une fois)</i></p>
              <h3 class="red">Vos avantages</h3>
              <p>- Carte de membre personnalisée</p>
              <p>- Accès à la Newsletter mensuelle de l’association</p>
              <p>- Rencontres mensuelles organisées avec les artistes de
              la communauté dans leurs ateliers</p>
              <p>- Participation au dîner annuel en présence
              des amis et des artistes</p>
          </div>
          <br>
           <div>
              <h2 class="red">Amis Grands Donateurs:</h2>
              <p class="prix"><i>50€/mois. (ou 550€ l’année, réglable en une fois)</i></p>
              <h3 class="red">Vos avantages</h3>
              <p>- Carte de membre personnalisée</p>
              <p>- Participation aux Prises, journées professionnelles
              destinées aux artistes de la communauté.</p>
              <p>- Accès à la Newsletter mensuelle de l’association</p>
              <p>- Rencontres mensuelles organisées avec les artistes de
              la communauté dans leurs ateliers</p>
              <p>- Participation au dîner annuel en présence
              des amis et des artistes</p>
              <p>- Visibilité dans la communication en tant que
              “Amis Grands Donateurs”</p>
          </div>
        </div>
      </div>

    <div class="formulaire-div">

<%= render template: "amis/new" %>
    </div>
</div>
<%= render "components/footer" %>
</body>
